body {
  font-family: "Rubik", sans-serif;
}
.container {
  padding: 88px;
}
.heading {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.sub-heading {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.form-group input,
.sub-btn {
  height: 56px;
  width: 400px;
  border: none;
  outline: none !important;
}
.form-group{
    position: relative;
}
.form-group input {
  background: #eceef0; 
}
.pho{
    position: absolute;
    top: 23px;
    right: 19px;
    display: none;
}
.form-group input::placeholder {
  color: #a9a9a9;
}
.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 18px;
    right: 17px;
    margin-top: 0;
    
}

.under-form p {
  font-size: 14px;
}
.link {
  color: #3a86ff;
}
.footer {
  justify-content: space-around !important;
}
.footer a {
  color: #b3b7b8;
}
.footer a:hover {
    color: #727575;
    text-decoration: none;
  }
@media (max-width:440px){
    .form-group input,
.sub-btn {
  width: 320px;

}
.heading {
    font-size: 30px;

  }
  .sub-heading {
    font-size: 14px;

  }
  .under-form{
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
      text-align: center !important;
  }
  .under-form p {
       margin: 10px !important;
  }
}
@media (max-width:360px){
    .form-group input,
.sub-btn {
  width:280px;

}
.heading {
    font-size: 27px;

  }
  .sub-heading {
    font-size: 12px;
  }
  .footer{
    justify-content: center; 
    align-items: center;
    flex-direction: column !important;
  }
 .footer a {
     margin: 10px !important ;
     text-align: center;

 }
}