* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}

.wrapper {
  background-color: #47787b;
  opacity: 80%;
  height: 100vh;
}
.main-cont {
  height: 94vh;
}
.form-container {
  background: #fff;
  padding: 47px;
  border-radius: 16px;
  box-shadow: 0 10px 40px #00000033;
}
.heading {
  font-size: 36px;
  letter-spacing: 0.25px;
}
.sub-heading {
  font-size: 16px;
  letter-spacing: 0.44px;
}
.form-group {
  width: 88%;
}
.form-group input {
  outline: none !important;
  border-right: none !important;
  border-top: none;
  border-left: none;
}
.forgot {
  font-size: 12px;
  color: #3a86ff;
}
.sub-btn {
  height: 48px;
  padding: 7px 27px;
  border-radius: 8px;
  background: #50d3dc;
  border-radius: 8px;
  color: #47787b;
  border: none;
  font-weight: 500;
}
.sub-btn:hover,
.sub-btn:checked {
  background: #63e2e2;
  color: #47787b;
}

.social-link {
  border: 1px solid #eceef0;
  border-radius: 4px;
  padding: 11px 35px;
  margin-right: 4px;
  color: #283646;
  opacity: 87%;
  font-weight: 500;
}
footer {
  padding: 0 40px;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #ffffff;
  opacity: 87%;
}
#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: linear-gradient(#47787B,#6fced3); */
}

.circle {
  width: 150px;
  height: 150px;
  background-color: #50d3dc;
  border-radius: 50%;
  margin: 200px auto;
  animation: animate 2s ease infinite;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

/*Media Quries */

/*960px Breakpoint*/
@media (max-width: 960px) {
  .main-cont {
    flex-direction: column !important;
  }
  .main-cont .logo {
    margin-top: 20px;
  }
  .main-cont .form-container {
    margin-top: 0 !important;
  }
}

/*450px Breakpoint*/
@media (max-width: 400px) {
  .main-cont .form-container {
    padding: 43px 9px;
  }
  .heading {
    font-size: 28px;
  }
  .sub-heading {
    font-size: 14px;
  }
}
/*350px Breakpoint*/
@media (max-width: 350px) and (max-height: 635px) {
  .wrapper {
    height: 120vh;
  }
}
